/* C:\Users\HP\Desktop\todolist\static\login.css */
body {
            background-color: #F3EBF6;
            font-family: 'Ubuntu', sans-serif;
         }

.main {
 background-color: #FFFFFF;
width: 400px;
 height: 400px;
 margin: 7em auto;
 border-radius: 1.5em;
 box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.header{
           color: solid black;
           font-size: 148%;
             font-weight: bold;
             font-family: cursive;
             padding-top: 15px;
      }
.sign {
 padding-top: 40px;
 color: #8C55AA;
 font-family: 'Ubuntu', sans-serif;
 font-weight: bold;
 font-size: 23px; }

.un {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
 }

form.form1 {
            padding-top: 10px;
 }

 .pass {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
 }


 .un:focus,
.pass:focus {
            border: 2px solid rgba(0, 0, 0, 0.18) !important;

 }

 .submit {
            cursor: pointer;
            border-radius: 5em;
            color: #fff;
            background: linear-gradient(to right, #9C27B0, #E040FB);
            border: 0;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            margin-left: 38%;
            font-size: 13px;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
 }
 .submit:hover {
            transform: scale(0.98);
            background: linear-gradient(to left, #9C27B0, #E040FB);
            color: black;
 }
 .signup {
            float: left;
            cursor: pointer;
            padding-left: 15px;
            padding-top: 35px;
 }
 .signup p a{
    text-decoration: none;
    color: #8C55AA;
 }

.forgot {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            padding-top: 38px;
            padding-right: 12px;
            float: right;
            display: flex;
            font-family: 'Ubuntu', sans-serif;
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            

}

a {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            text-decoration: none;
}@media (max-width: 600px) {
.main {
border-radius: 0px;
}
}